CORS_HOST=https://index-it.app
# Ktor secure cookies (for testing with non https)
COOKIE_SECURE=true

FULL_ACCESS_API_KEY=api_key
WEBSITE_ACCESS_API_KEY=api_key

SENDINBLUE_API_KEY=api_key

### MONGODB ###
MONGO_CONNECTION_STRING=mongodb+srv://user:password@astrodbcluster.ktm4l.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=dbName

### REDIS ###
REDIS_CONNECTION_STRING=redis://localhost:6379
