# Whether you are testing locally (enables for example anyHost() in ktor CORS)
LOCAL_MODE=true
# Ktor server port
KTOR_PORT=8080

### MONGODB ###
MONGO_CONNECTION_STRING=
MONGO_DB_NAME=

### REDIS ###
REDIS_HOST=
REDIS_PORT=
