APPLICATION_LOG_LEVEL=
APPLICATION_ENVIRONMENT=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=

API_ADMIN_KEY=
API_COOKIE_SECURE=
API_WEBSOCKET_MASKING=false
API_PORT=
API_SESSION_MAX_AGE_IN_SECONDS=

POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_CONNECTION_STRING=

RABBITMQ_CONNECTION_STRING=
RABBITMQ_EXCHANGE_NAME=
RABBITMQ_WEBSOCKETS_QUEUE_NAME=
RABBITMQ_WEBSOCKETS_ROUTING_KEY=

JOB_DAILY_JOB_ID=
JOB_DAILY_JOB_WEBHOOK_URL=
JOB_TASK_REMINDER_JOB_QUEUE_NAME=
JOB_TASK_REMINDER_JOB_WEBHOOK_URL=

BREVO_API_KEY=
BREVO_TEMPLATE_PASSWORD_RESET=
BREVO_TEMPLATE_EMAIL_VERIFICATION=
BREVO_TEMPLATE_PASSWORD_RESET_SUCCESS=
BREVO_TEMPLATE_LIST_INVITE=
BREVO_RESET_PASSWORD_URL=
BREVO_EMAIL_VERIFICATION_URL=
BREVO_EMAIL_VERIFICATION_ERROR_URL=
BREVO_EMAIL_VERIFICATION_SUCCESS_URL=
BREVO_LIST_USER_INVITE_URL=

GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_AUTH_TOKEN_EMAIL=
GOOGLE_AUTH_TOKEN_AUDIENCE=
GOOGLE_CLOUD_LOCATION=
GOOGLE_CLOUD_PROJECT=

APPLE_BUNDLE_ID=

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT_URI=
OAUTH_APPLE_CLIENT_ID=
OAUTH_APPLE_CLIENT_SECRET=
OAUTH_APPLE_REDIRECT_URI=
OAUTH_FACEBOOK_CLIENT_ID=
OAUTH_FACEBOOK_CLIENT_SECRET=
OAUTH_FACEBOOK_REDIRECT_URI=

BIGQUERY_ENABLED=
BIGQUERY_CONSOLE_ENABLED=
BIGQUERY_DATASET_NAME=
BIGQUERY_THREAD_POOL_SIZE=
BIGQUERY_PUSH_INTERVAL=
BIGQUERY_PUSH_DELAY=
BIGQUERY_MAX_EVENTS_ENTRY=

REVENUECAT_API_KEY=
REVENUECAT_WEBHOOK_SECRET=
REVENUECAT_SANDBOX=

PRO_BYPASS=

OPENAPI_INTERNAL_PASSWORD=