APPLICATION_LOG_LEVEL=INFO    # Level

API_ADMIN_KEY=admin    # String
API_COOKIE_SECURE=true    # Boolean
API_PORT=8080    # Int
API_SESSION_MAX_AGE_IN_SECONDS=604800    # Long

REDIS_CONNECTION_STRING=    # String

RABBITMQ_CONNECTION_STRING=    # String
RABBITMQ_EXCHANGE_NAME=    # String
RABBITMQ_WEBSOCKETS_QUEUE_NAME=    # String
RABBITMQ_WEBSOCKETS_ROUTING_KEY=    # String

SUGGESTION_CATEGORY_NAMES_ID=0    # Int
SUGGESTION_COLORS_ID=0    # Int
SUGGESTION_ITEM_NAMES_ID=0    # Int
SUGGESTION_LIST_NAMES_ID=0    # Int
SUGGESTION_TASK_NAMES_ID=0    # Int

BREVO_API_KEY=    # String

BREVO_EMAIL_VERIFICATION_ERROR_URL=    # String
BREVO_EMAIL_VERIFICATION_SUCCESS_URL=    # String
BREVO_EMAIL_VERIFICATION_URL=    # String
BREVO_RESET_PASSWORD_URL=    # String

POSTGRES_PASSWORD=    # String
POSTGRES_URL=    # String
POSTGRES_USER=    # String

OAUTH_APPLE_CLIENT_ID=    # String
OAUTH_APPLE_CLIENT_SECRET=    # String
OAUTH_APPLE_REDIRECT_URI=    # String
OAUTH_FACEBOOK_CLIENT_ID=    # String
OAUTH_FACEBOOK_CLIENT_SECRET=    # String
OAUTH_FACEBOOK_REDIRECT_URI=    # String
OAUTH_GOOGLE_CLIENT_ID=    # String
OAUTH_GOOGLE_CLIENT_SECRET=    # String
OAUTH_GOOGLE_REDIRECT_URI=    # String